<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Complete Work</a>
  <button class="btn btn-primary" type="button">
    Hello {{user}} !
  </button>
  
</nav>


<div class="text-center border">
  <a class="d-inline-flex p-2 text-dark"><u>Home</u></a>
  <a class="d-inline-flex p-2 text-dark"><u>History</u></a>
</div>

<div class="container mt-5">
  <h3 class="font-weight-light px-5">
    Track your progress and multiply efficiency through Complete Work. <br>
    It helps you to track your daily work progress and History work also.
  </h3>

  <div class="container">
    <h1 class=" text-center font-weight-800">
    Sign in to get started!
  </h1>
  <div class="text-center">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>
  </div>
</div>